<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title}}
    {% elsif page.tag %}{{ page.tag | escape }} | {{ site.title}}
    {% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="Glest Blog">
  <link rel="alternate" type="application/rss+xml" title="Recent Changes to website" href="https://github.com/Glest/glest.github.io/commits/master.atom">
  <link rel="alternate" type="application/rss+xml" title="Recent Commits to glest-source:develop" href="https://github.com/Glest/glest-source/commits/develop.atom">
  <link rel="alternate" type="application/rss+xml" title="Recent Commits to glest-data:develop" href="https://github.com/Glest/glest-data/commits/develop.atom">
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47932306-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-47932306-3');
	</script>
  
  <!--including Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <!--including local stylesheet-->
  <link rel="stylesheet" href="/docs/assets/css/style.css">
</head>

<body>
  <div class="container">
    <header><img class="centered" src="/docs/assets/images/logo_412x207.png" alt="Glest logo" title="Glest logo"
        width="412" height="207"> </header>
    <h2 class="subtitle">{{ page.title }}</h2>   