  <li class="nav-item" > <a class="nav-link" href="/docs/index.html">Home</a></li>
  <li class="nav-item" > <a class="nav-link" href="/blog/">Blog</a></li>
  <li class="nav-item" > <a class="nav-link" href="https://groups.google.com/forum/#!forum/zetaglest">Message Board</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/system_requirements.html">System Requirements</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/faq.html">FAQ</a></li>
  <li class="nav-item" > <a class="nav-link" href="https://github.com/ZetaGlest/zetaglest-source/blob/develop/README.md#download-executable-files">Downloads</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/screenshots.html">Screenshots</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/videos.html">Videos</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/tips_for_beginners.html">Tips for Beginners</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/strategy_guide.html">Strategy Guide</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/scenarios/">Scenarios</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/modding/">Modding</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/modelling/">Modelling</a></li>
  <li class="nav-item" > <a class="nav-link" href="/docs/lua_scripting.html">LUA Scripting</a></li>
