title:Home
layout:default
---
<h2>ZetaGlest Documentation</h2>
<p>
  The documentation for ZetaGlest is spread out among different
  repositories and web sites, but as we develop this project more, we hope
  to streamline. In the meantime, we will do our best to make sure the
  docs are easy to find by making sure they are linked properly.
  Thank you for your patience!
<p>
