title:Scenarios | LUA scripting | XML Events
layout:_lua_scripting
---
<h2><span class="mw-headline" id="XML_events">XML events</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/index.php?title=MG/Lua&amp;action=edit&amp;section=118" title="Edit section: XML events">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>These are XML tags used to execute Lua code on its specified event. Variables can be used across different events.
</p>
<div dir="ltr" class="mw-geshi mw-code mw-content-ltr"><div class="xml source-xml"><pre class="de1"><span class="sc3"><span class="re1">&lt;global<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed whenever the scenario is started.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/global<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;onSave<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed when the game is about to save.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/onSave<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;onLoad<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed when the savegame got loaded.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/onLoad<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;startup<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed once on startup.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/startup<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;unitCreated<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed every time a unit is created.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/unitCreated<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;unitCreatedOfType</span> <span class="re0">type</span>=<span class="st0">&quot;unitname&quot;</span><span class="re2">&gt;</span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed every time a unit of the specified</span>
<span class="sc-1">		type is created.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/unitCreatedOfType<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;unitDied<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed every time a unit dies.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/unitDied<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;unitAttacked<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed every time a unit gets attacked. </span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/unitAttacked<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;unitAttacking<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed every time a unit is attacking. </span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/unitAttacking<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;unitTriggerEvent<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed whenever a unit has one of the following properties changed: HP, EP, Level, Field or Skill. </span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/unitTriggerEvent<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;resourceHarvested<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed every time a resource is harvested.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/resourceHarvested<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;gameOver<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed when the game ends.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/gameOver<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;cellTriggerEvent<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed when cell events activate.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/cellTriggerEvent<span class="re2">&gt;</span></span></span>
<span class="sc3"><span class="re1">&lt;timerTriggerEvent<span class="re2">&gt;</span></span></span>
	<span class="sc-1">&lt;!--</span>
<span class="sc-1">		Code here will be executed when timer events acivate.</span>
<span class="sc-1">	--&gt;</span>
<span class="sc3"><span class="re1">&lt;/timerTriggerEvent<span class="re2">&gt;</span></span></span></pre></div></div>
