title:Model Specifications
layout:default
---
<p>Remove unnecessary or doubles (duplicates) from mesh vertices and
polygons</p>
<p>Keep the number of frames between 3 & 15.</p>
<p>Try to avoid high triangle counts -- they don't work well with weak GPU's.</p>
