title:Scenarios
layout:_scenarios
---
<p>
  Scenarios are special files that tell ZetaGlest how to play a game.
  They have set values, so you cannot choose your faction, nor your map,
  tileset, and opponents. However, scenarios can use scripts to allow
  them to do things not otherwise possible, such as campaigns. Due to
  this, they are able to tell a story, and can be considered a more
  linear story mode compared to the "free play" of a custom game.
<p>

<p>
    The information provided on these pages was either adapted or
    copied from <a href="https://docs.megaglest.org/Scenarios">MG/Scenarios</a>
</p>
