title:Basic Tips for Beginners
layout:default
---
<ol>
  <li>Learn one faction at a time</li>
  <li>Play 1 or 2 of the tutorials before trying to play in a network game</li>
</ol>

<h3>Map selection</h3>
<p>When setting up a game, you do not always have to scroll through a lot of maps<br />
to get to the one you want. For example, if you want a map that starts with "p", hold down<br />
<i>shift + p</i> and click the arrow next to the map selection box.</p>

<h3>Signal a location to other players</h3>
<p>Hold down "x" and click on the location in which you would like to signal.<br />
That area will blink to other players on the mini-map (upper left-corner) and an<br />
audible alert will sound.</p>

<h3>Playing with experienced players</h3>
<p>Many players enjoy games with new players. Before joining a network game, simply<br />
tell them you are new, and ask if it's ok for you to join.</p>




