{% include head.html %}
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav flex-column navbar-nav mr-auto">
{% include left_pane_default_menu.html %}
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-9">
      <p class="text-right"><a href="https://github.com/Glest/glest.github.io/tree/master/{{ page.path }}">Edit or Improve this page</a></p>
        {{content}}
    </div>
  </div>
</div>
{% include tail.html %}
