{% include head.html %}
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav flex-column navbar-nav mr-auto">
            <li class="nav-item" > <a class="nav-link" href="/docs/index.html">Home</a></li>
            <li class="nav-item" > <a class="nav-link" href="/blog/">Blog</a></li>
            <li class="nav-item" > <a class="nav-link" href="https://groups.google.com/forum/#!forum/zetaglest">Message Board</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/system_requirements.html">System Requirements</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/faq.html">FAQ</a></li>
            <li class="nav-item" > <a class="nav-link" href="https://github.com/ZetaGlest/zetaglest-source/blob/develop/README.md#download-executable-files">Downloads</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/screenshots.html">Screenshots</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/videos.html">Videos</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/tips_for_beginners.html">Tips for Beginners</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/strategy_guide.html">Strategy Guide</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/scenarios/">Scenarios</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/modding/">Modding</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/modelling/">Modelling</a></li>
            <li class="nav-item" > <a class="nav-link" href="/docs/lua_scripting.html">LUA Scripting</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-9">
      <p align="right"><a href="https://github.com/ZetaGlest/zetaglest.github.io/tree/master/{{ page.path }}">Edit or Improve this page</a></p>
        {{content}}
    </div>
  </div>
</div>
{% include tail.html %}
