{% include head.html %}
  <div class="row">
    <div class="col-md-4">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav flex-column navbar-nav mr-auto">
            <li class="nav-item" > <a class="nav-link" href="/docs">Home</a></li>
            <li class="nav-item" > <a class="nav-link" href="unit_xml.html">Unit XML</a></li>
            <li class="nav-item" > Future Link 1</li>
            <li class="nav-item" > Future Link 2</li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-8">
      <p align="right"><a href="https://github.com/ZetaGlest/zetaglest.github.io/tree/master/{{ page.path }}">Edit or Improve this page</a></p>
      {{content}}
    </div>
  </div>
</div>
{% include tail.html %}
