{% include head.html %}
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav flex-column navbar-nav mr-auto">
{% include left_pane_default_menu.html %}
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-9">
      <p class="text-right"><a href="https://github.com/ZetaGlest/zetaglest.github.io/tree/master/{{ page.path }}">Edit or Improve this page</a></p>
      <!-- Why doesn't this span provide a label? This should be accessible via BootStrap
        https://www.w3schools.com/bootstrap/bootstrap_badges_labels.asp
        <span class="label label-default">{{ page.date }}</span>
      -->
        <span id="post_date">{{ page.date }}</span>
        <span class="plaintext">{{content}}</span>
    </div>
  </div>
</div>
{% include tail.html %}
